@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import"https://unpkg.com/open-props/easings.min.css";
@import"https://unpkg.com/open-props/animations.min.css";
:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Manrope';

}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    background-color: var(--spotify-black);
    height: 100%;
    
}

/* center everything */

body {
    height: 100%;
    display: grid;
    place-items: center;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}




/*
    Object: Button reset
    ---
    Small button reset object
*/


.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/

.toggle__icon {
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
    /* animation: var(--animation-spin) 0.4s; */
}

.icon--check{
    color: var(--spotify-green);
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
  
}

.icon--add{
    grid-row: 1;
    grid-column: 1;

}       

.added .icon--add{
    opacity: 0;
    rotate: 90deg;
}

.added .icon--check{
    opacity: 1;

}

/*
    Album
*/

.album {
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--spotify-darkGrey);
    color: var(--spotify-white);
    border-radius: 0.5rem;
    max-width: 400px;
}


.album__header {
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-template-rows: auto auto;   
    margin-top: 1rem;                   
}

.album__img {
    border-radius: 0.5rem;
}

.album__title {
    grid-column: 1;
    grid-row: 1;
}

.album__artist{
    color: var(--spotify-grey);
    grid-column: 1;
    grid-row: 2;
}

.album__action {
    grid-column: 2;
    grid-row: 1 / span 2; 
    align-self: center;    
    justify-self: center;  
    display: grid;
}







/*
    Utitlities
*/

.color-grey {
    color: var(--spotify-grey);
}